|===
|Path|Type|Description

{{#fields}}
|{{#tableCellContent}}
{{#arrayPath}}
    `{{arrayPath}}`
{{/arrayPath}}
{{^arrayPath}}
    `{{path}}`
{{/arrayPath}}
{{/tableCellContent}}
|{{#tableCellContent}}`{{type}}`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}
|===
